<!-- Titolo per WhatsApp, Facebook, ecc. -->
<meta property="og:title" content="Debris Flow Lab" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://debrisflowlab.github.io/" />
<meta property="og:image" content="https://debrisflowlab.github.io/images/Logo_DFLab.png" />
<meta property="og:description" content="Gruppo di ricerca del TESAF su colate detritiche, monitoraggio e modellazione." />

<!-- Titolo della pagina (compare anche nel browser) -->
<title>Debris Flow Lab</title>